<html>

<head>
	<meta charset="UTF-8">
	<link href="./dark.css" rel="stylesheet">
	<script src="https://unpkg.com/vue@2.5.17"></script>
</head>

<body>
	<button id="button" v-bind:title="title" v-bind:disabled="disable">items</button>
	<div id="component"> <component1></component1> <component1></component1> </div>
	<div id="componentLocal"></div>
	<div id="componentPropsEvent">
		<div v-for="item in items">
			{{ item.title }}
			<component-props-event-btn v-on:increment="increment()"></component-props-event-btn>
		</div>
	</div>
	<div id="componentPropsPlural">
		<!-- <component-props-singular v-bind:item="item"></component-props-singular> -->
		<component-props-singular v-for="item in items" :key="item.title" :item="item"></component-props-singular>
	</div>
	<div id="componentRefParent">
		<component-ref-child ref="foo"></component-ref-child>
	</div>
	<div id="compute">{{ compute1 }}</div>
	<div id="directive">
		<p v-bind:class="{foo: bool, bar:!(bool)}">vBindClass</p>
		<p v-bind:style="{color: (bool ? 'green' : 'yellow')}">vBindStyle</p>
		<div><span v-for="v in [2, 3, 5]" v-bind:key="v">{{v}}&nbsp;</span></div>
		<div><span v-for="(v, k) in [2, 3, 5]" v-bind:key="v">{{k}} | {{v}}&nbsp;</span></div>
		<span v-if="bool">vIf</span><span v-show="!(bool)">vShow</span>
		<div>
			<div>
				<input type="number" v-on:input="item.value = $event.target.value" v-bind:value="item.value" min="0" />
				<input type="number" v-on:change="item.value = $event.target.value" v-bind:value="item.value" min="0" />
				<input type="number" v-model="item.value" min="0" />
				<input type="number" v-bind:value="item.value" readonly="true" />
			</div>
		</div>
	</div>
	<div id="filter">{{ 1000000 | filter1 }}</div>
	<div id="lifecycle">{{ lifecycle }}</div>
	<script type="text/x-template" id="login-tmpl">
		<div>
			<input type="text" placeholder="id" v-model="id">
			<input type="password" placeholder="password" v-model="password">
			<button @click="login">login</button>
		</div>
	</script>
	<div id="login">
		<login-tmpl></login-tmpl>
	</div>

	<div id="method">
		<button name="method1" v-on:click="method1">method1</button>
	</div>
	<div id="template">
		<script type="text/x-template" id="templateX1"><span>templateX1</span></script>
		<div id="templateX2"></div>
	</div>
	<div id="title">{{ items[0].title }}</div>

	<script src="./t1.js"></script>
</body>

</html>