<html>

<head>
	<meta charset="UTF-8">
	<link href="./dark.css" rel="stylesheet">
	<script src="https://unpkg.com/vue@2.5.17"></script>
	<script src="https://unpkg.com/vue-router@3.0.1"></script>
</head>

<body>


	<div id="app">
		<router-link to="/link1">link1</router-link>
		<router-link to="/link2/2">link2</router-link>
		<router-link :to="{ name: 'link3', params: { id: 3 } }">link3</router-link>
		<router-link to="/link4">link4</router-link>
		<router-link to="/link5?foo=bar">link5</router-link>
		<router-view></router-view>
	</div>


	<hr />
	<div id="spa">
		<nav>
			<router-link to="/top">top</router-link>
			<router-link to="/users">users</router-link>
		</nav>
		<router-view></router-view>
	</div>

	<script type="text/x-template" id="spa-user-create">
		<div>
			<div class="sending" v-if="sending">sending...</div>
			<div><input type="text" v-model="user.name" /></div>
			<div><textarea v-model="user.desc"></textarea></div>
			<div v-if="error" class="error">{{ error }}</div>
			<div><input type="button" @click="createUser" value="등록" /></div>
		</div>
	</script>
	<script type="text/x-template" id="spa-user-item">
		<div>
			<div class="loading" v-if="loading">loading...</div>
			<div v-if="error" class="error"> {{ error }} </div>
			<div v-if="user"> <div>{{ user.name }} | {{ user.desc }}</div> </div>
		</div>
	</script>
	<script type="text/x-template" id="spa-user-list">
		<div>
			<div class="loading" v-if="loading">loading...</div>
			<div v-if="error" class="error"> {{ error }} </div>
			<div v-for="user in users" :key="user.id">
				<div>{{ user.name }}</div>
			</div>
		</div>
	</script>

	<script src="./t2.js"></script>
</body>

</html>